@use '../variables'
@use '../mixins'

#sidebar
    background-color: variables.$bg-color
    flex: 1 1 0
    border-radius: variables.$container-border-radius
    display: flex
    align-items: center
    flex-direction: column
    text-align: center
    position: relative
    padding: 3rem 0
    height: 50%

    img
        max-width: 70%
        border-radius: variables.$container-border-radius
        position: absolute
        top: -3rem  
    
    .title
        color: variables.$text-color-secondary
        background-color: variables.$bg-color-secondary
        border-radius: variables.$card-border-radius
        margin-top: 23rem
        padding: .8rem 1.2rem
        @media (max-width: variables.$beyond-fourk-screen-break) and (min-width: variables.$fourk-screen-break)
            margin-top: 31rem
        @media (max-width: variables.$fourk-screen-break) and (min-width: variables.$fullhd-screen-break)
            margin-top: 22rem
        @media (max-width: variables.$fullhd-screen-break) and (min-width: variables.$laptop-screen-break)
            margin-top: 13rem
        @media (max-width: variables.$laptop-screen-break) and (min-width: variables.$smart-smartphone-break)
            margin-top: 38rem
        @media (max-width: 800px) and (min-width: 427px)
            margin-top: 32rem
        @media (max-width: 426px) and (min-width: variables.$smart-smartphone-break)
            margin-top: 14rem
        @media (max-width: variables.$smart-smartphone-break)
            margin-top: 13rem
        
    .btn
        @include mixins.btn

        @media (max-width: variables.$layout-smartphone-break)
            width: 80%

    a:hover
        @include mixins.hover-btn
        