@use 'variables'
@use 'mixins.sass'

*
    padding: 0
    margin: 0
    font-family: variables.$font-stack
    box-sizing: border-box

// body
    // background-image: variables.$bg-background-color

.bg
    background-attachment: fixed
    // width: 100vw
    // height: 100vh

a, svg 
    transition: .8s

@media (max-width: variables.$layout-smartphone-break)
    *
        padding: 0
        margin: 0
        font-family: variables.$font-stack
        box-sizing: border-box

    a, svg 
        transition: .8s
        
    body 
        background-image: variables.$bg-background-color

    @media (max-width: variables.$smart-smartphone-break)
        body 
          background-image: variables.$bg-background-color