$font-stack: "Helvetica"
$text-color: #fff
$text-color-secondary: #a6a6a6

$body-bg-color: #271b31
$bg-color:#111
$bg-color-secondary: #1d1d1d

$container-border-radius: 10px
$card-border-radius: 5px
$gradient: linear-gradient(90deg, rgba(250,82,82,1) 0%, rgba(221,36,118,1) 100%)

$bg-background-color: linear-gradient(270deg, #8e0087 0%, rgba(47,0,132,1) 60%, rgba(65,0,142,1) 100%)
$bg-background-tech-page: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #29e630 100%)

$python-colors: #00618A
$html-colors: #ff9500